[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "accelmissing"]
	path = accelmissing
	url = https://github.com/cran/accelmissing
